// 系统普通字体大小
$systemFontSize: 14px;
// 12字体大小
$systemFontSize12: 12px;
// 16字体大小
$systemFontSize16: 16px;
// 系统标题字体大小
$systemTitleFontSize: 24px;
// 系统普通字体颜色
$systemFontColor: #C0D2E6;
// 系统普通字体颜色次要
$systemFontColor1: #606266;
// 系统活跃字体颜色(聚焦活跃边框)
$systemActiveFontColor: rgba(0,249,255, 0.8);


// 边框、背景颜色
// 系统普通边框颜色
$systemBorderColor: rgba(240, 247, 255, 0.1);
// 系统移入边框颜色
$systemHoverBorderColor: rgba(240, 247, 255, 0.2);
// 系统活跃背景、边框颜色
$systemActiveBackgroundColor: rgba(0,249,255,0.2);
// 系统活跃背景颜色
$systemActiveBackgroundColor6: rgba(0,249,255,0.6);
// 系统活跃背景颜色
$systemActiveBackgroundColor8: rgba(0,249,255,0.8);
// 系统背景
$systemBoxBackgroundColor:#012522;
// 系统盒子边框内阴影
$systemBorderShadow:0px 0px 5px $systemActiveBackgroundColor inset;
// 系统输入框背景颜色
$systemInputBackgroundColor: rgba(0,249,255,0.05);
// 系统禁用背景颜色
$systemDisableBackgroundColor: rgba(0,249,255,0.15);
// 系统弹框mask背景
$systemMaskBackgroundColor: rgba(0,0,0, 0.6);

// 系统内外边距
$size10: 10px;
$size20: 20px;

// 系统布局宽高
// 面包屑
$breadcrumbHeight: 42px;
// 顶部
$topHeight: 54px;